<ion-header [translucent]="true">
  <ion-toolbar> 
      <ion-header>
        <ion-toolbar color="#6F2D2D">
        </ion-toolbar>
      </ion-header>
    <div class="ion-page">
      <ion-header>
        <ion-toolbar color="#6F2D2D">
          <ion-avatar slot="start">
            <ion-img src="https://i.ibb.co/Q9bTzZV/icon-cocina-express.webp">"></ion-img>
          </ion-avatar>
          <ion-title>Receta bandeja paisa</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="receta1">

    <h2>Bandeja paisa</h2> 
    <ion-img src="https://i.ibb.co/PD7vTrF/aWEuanBn.jpg"></ion-img>
    <h3>Ingredientes </h3>
    <p> - Frijoles Antioqueños
    <p> - Arroz Blanco
    <p> - Carne en polvo
    <p> - Chicharrones
    <p> - Chorizos Cocidos
    <p> - Huevos Fritos
    <p> - Tajadas de Plátano
    <p> - Aguacate
    <p> - Hogao</p>
    <h3> Preparación</h3>
    <p> * El día anterior dejar reposar en un recipiente con agua los frijoles.</p>
    <P> * Para preparar el arroz, agregamos 2 tazas de arroz y el doble de agua, es decir, 4 tazas de agua. Cuando el agua hierva añadir el arroz y la hoja de laurel.
       Cocinar a fuego medio durante 15 minutos. Apagar el fuego y dejar reposar cinco minutos tapando el recipiente. </P>
    <P> * Para los plátanos vamos a preparar una sartén con aceite.
       Sacar tajadas a los plátanos y freír hasta que estén dorados,
       luego dejar reposar en un plato con papel absorbente o de cocina.</P>
    <P> * Procedemos a preparar el hogao. Corta la cebolla y el tomate en dados, picar el ajo en trocitos muy pequeños. Sofreír la cebolla en aceite durante 4 minutos,
       sazonar con sal y agregar el tomate, incorporar el ajo y el comino, mezclar bien y cocinar durante 2 minutos</P>
    <P> * Escurrir los frijoles y llevarlos a la olla de presión, añadir el hogao. Cubre con agua y dejar cocinar por 30 minutos aproximadamente.</P>
    <P> * En una sartén cocinar la carne y el chorizo hasta que estén bien dorados. Luego retirar y en la misma sartén freír los huevos. En otra sartén fritar los chicharrones.</P>
    <P> * Para montar la bandeja paisa, colocamos el arroz, los frijoles, las tajadas, la carne picada, el chorizo, los chicharrones  y el huevo (arriba del arroz).
       Cortar el aguacate y adicionar las arepas de maíz y ¡listo a disfrutar!</P>
  </div>
  <ion-button color="danger" [routerLink]="['/home']">Volver</ion-button>
</ion-content>
