<ion-header [translucent]="true">
  
  <ion-toolbar>
      <div class="ion-page">
        <ion-header>
          <ion-toolbar color="#6F2D2D">
            <ion-avatar slot="start">
              <ion-img src="https://i.ibb.co/Q9bTzZV/icon-cocina-express.webp">"></ion-img>
            </ion-avatar>
            <ion-title>Receta arroz con pollo</ion-title>
          </ion-toolbar>
        </ion-header>
      </div>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">receta_AP</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="receta3">
    <h2>Arroz con pollo</h2> 
    <ion-img src="https://images-gmi-pmc.edge-generalmills.com/8f518e2c-ad62-4480-b6e1-cdf10a9f6c08.jpg"></ion-img>
    <h3>Ingredientes </h3>
    <p> - 2 pechugas de pollo, cocidas y cortadas en trozos pequeños
    <p> - 3 cucharadas de aceite de canola
    <p> - 1 pimentón rojo grande, picado
    <p> - 1 pimentón amarillo grande, picado
    <p> - 1 pimentón verde grande, picado
    <p> - 1 diente de ajo, machacado
    <p> - 1 cebolla cabezona mediana, picada
    <p> - 3 tazas de arroz
    <p> - 5 tazas de agua
    <p> - 2 tazas de verduras variadas en trocitos (zanahoria, alverja o chícharos, habichuela o frijol, maíz amarillo)
    <p> - 1 cubo de caldo de pollo
    <p> - 1 sobre de sazón con azafrán
    <p> - Sal al gusto

    <h3> Preparacion</h3>
    <p> * Coloca el aceite en una olla grande a fuego bajo. Sofríe los tres pimentones picados, el ajo y la cebolla cabezona y revuelve hasta que tomen un color doradito.</p>
    <P> * Agrega las 3 tazas de arroz, lo importante es revolver muy bien. </P>
    <P> * Añade las 5 tazas de agua, las verduras en trocitos, las pechugas de pollo, el cubo de caldo de pollo, el sobre de sazón y la sal al gusto.
       Revuelve y deja cocinar a fuego medio por aproximadamente 15 minutos o hasta que se seque el arroz.</P>
    <P> * Una vez que el arroz haya absorbido toda el agua tapa la olla y cocina a fuego bajo por 10 a 15 minutos más hasta que el arroz esté suave.</P>


  </div>
  <ion-button color="danger" [routerLink]="['/home']">Volver</ion-button>
</ion-content>
