<ion-header [translucent]="true">
  
  <ion-toolbar>
      <div class="ion-page">
        <ion-header>
          <ion-toolbar color="#6F2D2D">
            <ion-avatar slot="start">
              <ion-img src="https://i.ibb.co/Q9bTzZV/icon-cocina-express.webp">"></ion-img>
            </ion-avatar>
            <ion-title>Receta changua</ion-title>
          </ion-toolbar>
        </ion-header>
      </div>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">receta_CH</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div class="receta2">
    <h2>Changua</h2> 
    <ion-img src="https://images-gmi-pmc.edge-generalmills.com/8a7c1402-3eca-425a-8c3c-e2ed18b9e10d.jpg"></ion-img>
    <h3>Ingredientes </h3>
    <p> - 4 tazas de leche
    <p> - 2 tazas de agua
    <p> - 4 huevos
    <p> - ½ taza de cilantro fresco picado y más para servir
    <p> - 3 cebollas largas picadas
    <p> - Sal 

    <h3> Preparacion</h3>
    <p> * Pon a calentar el agua en una olla</p>
    <P> * Agrégale la cebolla verde y déjala cocinar durante 2 minutos. </P>
    <P> * Agrega la leche y la sal. Reduce la temperatura y agrega los huevos.</P>
    <P> * Cocina por 2 minutos o hasta que los huevos estén cocinados</P>
    <P> * Agrega los trozos de pan sobre la changua y decora con el cilantro picado.</P>
    <P> * Sirve y ¡a disfrutar!</P>

  </div>
  <ion-button color="danger" [routerLink]="['/home']">Volver</ion-button>
</ion-content>
