.ion-page {
    background-color: #6F2D2D;
  }

  .receta5 {

    background-repeat: no-repeat;
    background-color: aliceblue(12, 5, 0, 0.466);
    background-size: 100% 25%;
    background-position-y: 0;
    color: beige;
    text-align: center;
    padding: 50px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgb(15, 15, 15);
    border: 5000px;
  }

  #container {
    text-align: center;
  }