<ion-header [translucent]="true">
  
  <ion-toolbar>
      <div class="ion-page">
        <ion-header>
          <ion-toolbar color="#6F2D2D">
            <ion-avatar slot="start">
              <ion-img src="https://i.ibb.co/Q9bTzZV/icon-cocina-express.webp">"></ion-img>
            </ion-avatar>
            <ion-title>Receta cocido boyacense</ion-title>
          </ion-toolbar>
        </ion-header>
      </div>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">receta-cb</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="receta5">
  <h3>Cocido boyacense</h3> 
  <ion-img src="https://cdn.colombia.com/sdi/2019/07/16/el-cocido-boyacense-con-presencia-timida-en-cundinamarca-753538.webp"></ion-img>
          <h4>Ingredientes </h4>
          <p>
          - ½ libra de habas verdes <br>
          - ½ libra de hibias <br>
          - ½ libra de cubios <br>
          - ½ libra de chuguas <br>
          - 1 libra de papas de año o papitas peladas <br>
          - 3 mazorcas <br>
          - 2 cucharadas de aceite <br>
          - 1 libra de costilla de res carnuda <br>
          - 1 libra de carne de cerdo o de tocino <br>
          - 1 libra de longaniza cortada en trozos <br>
          - ½ taza de cebolla cabezona <br>
          - 1 tallo de cebolla larga <br>
          - 1 tallo de cebolla larga <br>
          - ½ libra de tomates <br>
          - 1 taza de leche tibia <br>
          - 1 taza de agua tibia <br>
          - Laurel <br>
          - Tomillo <br>
          - Orégano <br>
          - Sal <br>
          - Pimienta <br>
          - 3 dientes de ajo <br>
          </p>

          <h3> Preparación</h3>
          <p> * Primero que todo lava muy bien las habas verdes, se colocan a sancochar y se pelan</p>
          <P> * Después debe preparar en una olla grande un guiso con el aceite, la cebolla cabezona previamente picada, la cebolla larga previamente picada, el tomillo, el laurel, el orégano, sal, pimienta y ajo picado. </P>
          <P> * Luego se adicionan, formando capas, desde lo mas demorado hasta lo más fácil de cocinar, el orden sería el siguiente: Chuguas, costilla de res cortada en trozos, mazorcas cortadas en trozos, papas de año, la carne de cerdo cortada en trozos, las hibias, las habas,
             los cubios, más la lata de agua y la taza de leche tibias, luego lo deja hervir a fuego bajo por 20 o 30 minutos.</P>
          <P> * Seguido debe poner encima la longaniza cortada en trozos y la deja hervir por 20 minutos</P>
          <p> * En ultimo lugar le esparce al cocido a la hora de servir varias cucharaditas de hogao, el cual puede preparar con la cebolla larga en tiras y el tomate previamente picado.</p>

        </div>
        <ion-button color="danger" [routerLink]="['/home']">Volver</ion-button>
</ion-content>
