<ion-header [translucent]="true">
  
  <ion-toolbar>
      <div class="ion-page">
        <ion-header>
          <ion-toolbar color="#6F2D2D">
            <ion-avatar slot="start">
              <ion-img src="https://i.ibb.co/Q9bTzZV/icon-cocina-express.webp">"></ion-img>
            </ion-avatar>
            <ion-title>Receta ajiaco</ion-title>
          </ion-toolbar>
        </ion-header>
      </div>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">receta-aj</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="receta4">
    <h2>Ajiaco</h2> 
    <ion-img src="https://www.recetasnestle.com.ec/sites/default/files/srh_recipes/3964b77d9ff84585e562ad1bd1205e25.jpg"></ion-img>
    <h3>Ingredientes </h3>
    <p> - 8 tazas de agua
    <p> - 2 pechugas medianas de pollo, sin piel y sin hueso
    <p> - 1 taza de guascas secas 
    <p> - 1 lbs de papa criolla
    <p> - 1 lbs de papa sabanera
    <p> - 2 diente de ajo, machacado
    <p> - 1 cebolla cabezona mediana, picada
    <p> - 4 mazorcas grandes de maíz
    <p> - 1 cubo de caldo de gallina
    <p> - 1 taza de arvejas
    <p> - Sal al gusto 

    <h3> Preparación</h3>
    <p> * En una olla grande agrega el agua, el pollo y la mitad de las guascas. </p>
    <p> * Déjalo cocinar por aproximadamente 40 minutos. 
    <p> * Cuando ya el pollo este cocido lo sacas de la olla y lo colocas en un plato aparte;
       córtalo en trocitos y cúbrelo con papel aluminio para mantenerlo tibio. No tires el agua</p>
    <P> * Luego en la misma agua en que cocinaste el pollo debes agregar las dos clases de papa, la cebolla y el ajo. Deja cocinar por aproximadamente 2 horas para que la papa criolla se disuelva completamente. </P>
    <P> * Agrega el pollo cortado en trocitos, las mazorcas, el caldo de gallina, las arvejas verdes (chícharos) y la sal a tu gusto. Mezcla con cuidado todos los ingredientes y déjalos cocinar por una hora más a fuego medio bajo.</P>
    <P> * Agrega la mitad restante de las guascas y cocina por 5 minutos más.</P>

  </div>
  <ion-button color="danger" [routerLink]="['/home']">Volver</ion-button>
</ion-content>
