<ion-header [translucent]="true">
  
<ion-toolbar>
    <div class="ion-page">
      <ion-header>
        <ion-toolbar color="#6F2D2D">
          <ion-avatar slot="start">
            <ion-img src="https://i.ibb.co/Q9bTzZV/icon-cocina-express.webp">"></ion-img>
          </ion-avatar>
          <ion-title>Cocina Express</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="container2">
  <div id="container">
<h2>Disfruta del sabor autentico colombiano a traves de su cocina</h2>
<ion-img src="https://i.ibb.co/jZZFvFN/collage.png"></ion-img>
<h4>Explora nuestras recetas auténticas de Colombia y embárcate en un viaje culinario a través de los sabores vibrantes y las tradiciones gastronómicas de este hermoso país</h4>

  </div>


  <div id="carrusel">
    <ion-button id="button1" fill="outline" [routerLink]="['/receta-bp']">
    Bandeja paisa
    </ion-button>
    <ion-button id="button2" fill="outline" [routerLink]="['/receta-ch']">
    Changua
      </ion-button>
    <ion-button id="button3" fill="outline" [routerLink]="['/receta-ap']">
    Arroz con pollo
      </ion-button>
    <ion-button id="button4" fill="outline" [routerLink]="['/receta-aj']">
    Ajiaco
    </ion-button>
    <ion-button id="button5" fill="outline" [routerLink]="['/receta-cb']">
    Cocido boyacence
    </ion-button>
    <ion-button id="button6" fill="outline" [routerLink]="['/receta-pa']">
    Aborrajado de plátano maduro
    </ion-button>
  </div>

    <div class="cuadro">
      <h2 class="titulo">Tus recetas favoritas, cuando quieras y dónde quieras.</h2>
      <p class="parrafo">Una aplicación de recetas, que lleva los ingredientes a cualquier lado donde estés.</p>
    </div> 
  <div class="cuadro-segundo">
    <h2 class="titulo-segundo">Cocina sin complicaciones</h2>
    <p class="parrafo-segundo">¿Quieres una bandeja paisa, una changua, mojarra? ¿No sabes que preparar? No te preocupes! Nuestra prioridad es que los ingredientes sean fáciles de preparar.</p>
  </div>

  <div class="parrafo-centrado">
    <p>¡Cualquiera puede cocinar!
  </div>

  <div class="parrafo-negrita">
    <strong>Descarga nuestra app!</strong>
  </div>
  
  <div class="imagen">
    <img src="https://i.ibb.co/B2twvrx/get-in-Google-Play.webp" alt="Imagen">
  </div> 
  
  <ion-footer class="footer">
    <div class="redes-sociales">
      <p class="redes-sociales-text">Redes Sociales</p>
      <ion-img src="https://i.ibb.co/Fn3Ht4y/img-logo.webp"></ion-img>
      <ion-img src="https://i.ibb.co/5nS1gX0/facebook-img.webp"></ion-img>
      <ion-img src="https://imgs.search.brave.com/um6zcpRX64O-bpcADvv7a2vW5n9PzYplDp20-8kwWPw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9mcmVl/bG9nb3BuZy5jb20v/aW1hZ2VzL2FsbF9p/bWcvMTY1NzA0NjE0/MXR3aXR0ZXItbG9n/by1ibGFjay5wbmc"></ion-img>
    </div>
    <p class="texto">Cocina Express</p>
    <p class="copyright">©2023</p>
  </ion-footer>
</ion-content>
